<div class="dialog">
  <div class="dialog__header">
    <div class="title">
      <h4>اضف تصنيف جديد</h4>
    </div>
  </div>
  <form [formGroup]="createNewCategory" (ngSubmit)="saveNewCategory()">
    <div class="col-md-12">
      <div class="image__container">
        <input type="file" #filePicker (change)="onImagePicked($event)" />
      </div>
      <div class="image-preview">
        <ng-container>
          <a class="before__upload__container" (click)="filePicker.click()">
            <img
              img-cache
              img-cache-src="{{ imagePreview }}"
              class="avatar border-gray"
            />
          </a>
          <p>رفع صورة</p>
        </ng-container>
      </div>
    </div>
    <div class="form-group">
      <label for="tags">نوع الفئة</label>
      <select class="form-control" formControlName="tag">
        <option *ngFor="let tag of tags" [value]="tag.value">{{
          tag.name
        }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>{{ "% العربون " | translate }}</label>
      <input
        type="number"
        class="form-control"
        formControlName="app_percentage"
        placeholder="العربون"
      />
    </div>
    <div class="form-group">
      <label for="tags"> % نسبة التطبيق</label>
      <input
        type="number"
        class="form-control"
        formControlName="down_payment_percentage"
        placeholder="نسبة التطبيق"
      />
    </div>
    <div class="form-group">
      <label for="name">الاسم بالانجليزى</label>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        id="name"
        placeholder="الاسم بالانجليزى"
      />
    </div>

    <div class="form-group">
      <label for="name_ar">الاسم بالعربى</label>
      <input
        type="text"
        class="form-control"
        formControlName="name_ar"
        id="name_ar"
        placeholder="الاسم بالعربى"
      />
    </div>
    <app-savebutton
      name="حفظ"
      [isDisabled]="isDisabled"
      [loading]="loading"
    ></app-savebutton>
  </form>
</div>

<!-- <button (click)="saveNewArea()" class="btn">{{ 'save' | translate}}</button> -->
