<div class="dialog">
  <div class="dialog__header">
    <ng-container>
      <div class="title">
        <h5>{{ "اضف مدير" | translate }}</h5>
      </div>
    </ng-container>
  </div>
  <form [formGroup]="createNewUser">
    <div class="form-group">
      <label for="name">{{ "الاسم" | translate }}</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
        [placeholder]="'الاسم' | translate"
      />
    </div>
    <div class="form-group">
      <label for="mobile">{{ "رقم الجوال " | translate }}</label>
      <input
        type="text"
        class="form-control"
        id="mobile"
        formControlName="mobile"
        [placeholder]="'رقم الموبايل' | translate"
      />
    </div>
  </form>
</div>
<app-open-dialog-button
  [loading]="loading"
  isDisabled="no"
  (isClicked)="onSubmit()"
  name="{{ 'حفظ' | translate }}"
></app-open-dialog-button>
