<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-user">
        <div class="card-header">
          <div class="card-title-container">
            <h5 class="card-title">{{ "أضف نشاط " | translate }}</h5>
          </div>
          <div class="card-action"></div>
        </div>
        <div class="card-body">
          <ng-container>
            <app-chalets></app-chalets>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
